@keyframes example {
    0%   {color: rgb(218, 98, 98);}
    25%  {color: rgb(170, 170, 12);}
    50%  {color: rgb(144, 144, 240);}
    100% {color: black;}
  }
.heading {
    font-size: 6.5rem;
    font-family: 'georgia';
    font-weight: bold;
    animation-name: example;
    animation-duration: 10s;
    animation-iteration-count: infinite;
}

