<div class="list-group-item">
    <div class="card-body">
        <h2 class="card-title">{{challenge.title}}</h2>
        <p class="card-text">{{challenge.description}}</p>
        <span class="badge bg-primary mr-2" *ngFor="let tag of challenge.tags">{{tag}}</span>
        <a (click)="addVote(challenge)"><span class="badge bg-secondary mr-2" role="button">Upvote
                <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger">
                    {{challenge.votes}}
                </span>
            </span>
        </a>
    </div>
</div>