<table class="table table-striped">
    <thead>
        <tr>
            <th scope="col" sortable="name">Title</th>
            <th scope="col" sortable="description">Description</th>
            <th scope="col" sortable="labels">Labels</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let challenge of challenges">
            <th scope="row">{{ challenge.title }}</th>
            <td>{{ challenge.description }}</td>
            <td><button *ngFor="let tag of challenge.tags" type="button" class="btn btn-primary btn-tag">{{ tag }}</button></td>
            <td>
                <button (click)="addVote(challenge)" type="checkbox" class="btn btn-primary" [ngClass]="{'btn-success':challenge.usersVoted.includes(userId)}">
                     Upvote <span class="badge">{{ challenge.votes }}</span>
                </button>
            </td>
        </tr>
    </tbody>
</table>