.asc:before {
    content: "";
    display: block;
    background: url('/assets/arrow.png') no-repeat;
    background-size: 22px;
    width: 22px;
    height: 22px;
    float: left;
    margin-left: -22px;
}

.desc:before {
    transform: rotate(180deg);
    content: "";
    display: block;
    background: url('/assets/arrow.png') no-repeat;
    background-size: 22px;
    width: 22px;
    height: 22px;
    float: left;
    margin-left: -22px;
}

table {
    table-layout: fixed;
    word-wrap: break-word;
}